@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products App</h1>
    <p class="lead">Products app with SQL database and JSON file</p>
    <br />
    <p><a href="https://milan.in.rs/" class="btn btn-primary btn-lg" target="_blank">About author &raquo;</a></p>
</div>

